{% extends "layout.html" %}
{% from "macros.html" import solution_table %}
{% block title %}Dashboard{% endblock %}
{% block meta_title %}Dashboard{% endblock %}
{% block page_content %}
    <div class="p-panel">
        <div class="p-panel__header">
            <h4 class="p-panel__title">Charmhub Solutions Dashboard</h4>
        </div>
        <div class="p-panel__content">
            <div class="u-fixed-width">
            {{ solution_table(published_solutions, "Published Solutions") }}
            {{ solution_table(pending_review_solutions, "Pending Review Solutions") }}
            {{ solution_table(unpublished_solutions, "Unpublished Solutions") }}
            {{ solution_table(pending_solutions, "Pending Solutions") }}
            </div>
        </div>
    </div>
{% endblock %}
