{% macro solution_table(solutions, title) %}
  <h5>{{ title }} ({{ solutions | length }})</h5>
  <table aria-label="{{ title | lower }} solutions table">
    <thead>
        <tr>
          <th>Solution name</th>
          <th>Publisher</th>
          <th>Creator</th>
          <th>Actions</th>
        </tr>
    </thead>
    {% if solutions %}
      <tbody>
        {% for solution in solutions %}
        <tr>
            <td><a href="https://staging.charmhub.io/solutions/{{ solution.name }}" target="_blank">{{ solution.title }}</a></td>
            <td><a href="https://staging.charmhub.io/publisher/{{ solution.publisher_username }}" target="_blank">{{ solution.publisher_display_name }}</a></td>
            <td>
              {% if solution.creator_mattermost %}
              <p>Mattermost: <code>{{ solution.creator_mattermost }}</code></p>
              {% endif %}
              {% if solution.creator_matrix %}
              <p>Matrix: <code>{{ solution.creator_matrix }}</code></p>
              {% endif %}
            </td>
            <td>
              <a
                href="http://staging.charmhub.io/solutions/{{ solution.name }}?preview={{ solution.hash }}"
                target="_blank"
                class="p-button--base is-dense"
              >
                Preview
              </a>
              {% if solution.status == 'pending_name_review' %}
              <a href="{{ url_for('dashboard.approve_name', name=solution.name) }}" class="p-button--base is-dense action-button">Approve Name</a>
              {% elif solution.status == 'pending_metadata_review' %}
              <a href="{{ url_for('dashboard.approve_metadata', name=solution.name) }}" class="p-button--base is-dense action-button">Approve & Publish</a>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
    {% else %}
      <caption>
        <div class="p-strip">
          <div class="row">
            <div class="u-align--right col-4 col-medium-2 col-small-1">
              <img src="https://assets.ubuntu.com/v1/3234f995-Generic_chamhub_NoDocs.svg" alt="empty state" style="height: 50px;">
            </div>
            <div class="u-align--left col-8 col-medium-4 col-small-3">
              <p class="u-vertical-align--middle">No {{ title }} solutions</p>
            </div>
          </div>
        </div>
      </caption>
    {% endif %}
  </table>
{% endmacro %}